html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

canvas {
    position: absolute;
    z-index: -1;
    top: 0;
}

section {
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100dvh;
    flex-direction: column;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    z-index: 1;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none; /* Eliminar borde de enfoque en Safari */
    -webkit-appearance: none; /* Asegurar apariencia en Safari */
    -moz-appearance: none; /* Asegurar apariencia en Firefox */
}

button:hover {
    background-color: #0056b3;
}
